@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Light.ttf") format("truetype"),
    url("fonts/Montserrat/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: optional;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"),
    url("fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"),
    url("fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Acme";
  src: url("fonts/Acme/Acme-Regular.ttf") format("truetype"),
    url("fonts/Acme/Acme-Regular.woff2") format("woff2");
}
